out
node_modules
.vscode-test
*.vsix
*.codekit3
.DS_Store
appland.appmap-*.*.*
.obsolete

extern/.yarn

# Yarn files
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
