.vscode/**
.vscode-test/**
node_modules/**
src/**
test/**
web/**
webpack/**
.gitignore
.travis.yml
*.vsix
package*.json
vsc-extension-quickstart.md
**/jsconfig.json
**/tsconfig.json
**/*.map
**/.eslintrc.js
**/*.config.js
