body {
  background-color: transparent;
  color: white;
}

.diagram-content .diagram-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.diagram {
  grid-column-start: 2;
  grid-column-end: 3;
  border-left: 2px solid #ccd;
  padding: 4px;
}

.selection-details {
  grid-column: 1;
  width: 200px;
}

.appmap.appmap--theme-dark {
  background-color: transparent;
}