body {
  background-color: transparent;
  color: #808b98;
  padding: 2rem;
}

a {
  color: #4362b1;
}

.diagram-content .diagram-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.diagram {
  grid-column-start: 2;
  grid-column-end: 3;
  border-left: 1px solid #343742;
  padding: 1rem;
}

.selection-details {
  grid-column: 1;
  width: 100%;
  min-width: 200px;
  padding-top: 1rem;
  margin-right: 1rem;
}

.selection-details h3 {
  font-size: 1.5rem;
  color: #ccd;
}

#filter {
  margin-bottom: 2.5rem;
}

.appmap.appmap--theme-dark {
  background-color: transparent;
}

.search-diagram input, #filter-input input {
  background-color: transparent;
  border-radius: .5rem;
  border: 1px solid #343742;
  padding: .25rem .5rem;
  color: #808b98;
  width: 100%;
}

.search-diagram {
  margin-top: 1rem;
}

#filter-input input:focus, .search-diagram input:focus {
  outline: none;
}

.nav-tabs {
  border-bottom: 1px solid #343742;
}

.nav-tabs .nav-link {
  color: #808b98;
}

.nav-tabs .nav-link:hover {
  border-color: transparent;
  color: #ccd;
}

.nav-tabs .nav-link:focus {
  outline: none;
}

.nav-tabs .nav-link.active {
  background-color: #4362b1;
  border-color: #4362b1;
  color: #E1E2E2;
}

.dropdown-menu {
  background-color: #343742;
  color: #E1E2E2;
}

.dropdown-item {
  color: #E1E2E2;
}

.badge-secondary {
  color: #E1E2E2;
  background-color: #6c757d;
  font-size: .9rem;
  font-weight: 400;
  padding: .5rem;
  margin-top: .5rem;
  border-radius: .5rem;
}

.dropdown-item.active {
  background-color: #4362b1;
  color: #E1E2E2;
}