.context-container__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.context__body__table .context__pinned-item {
  margin: 0 !important;
  box-shadow: none !important;
}

.recording-method-grid .popper__body {
  overflow: hidden;
  padding: 1rem;
  background-color: #141924;
  border-radius: 1rem;
  border: 1px solid #2d3546;
}
