// Global

html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: transparent;
  color: $gray4;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

a {
  color: $blue;
  transition: $transition;
  &:hover {
    text-decoration: none;
    color: lighten($blue, 13);
  }
  &:focus {
    outline: none;
  }
}

#appland {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100%;
  row-gap: 2rem;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

/* Filters */
#filter {
  padding: 2rem;
}

#filter-input input {
  background-color: transparent;
  border-radius: .5rem;
  border: 1px solid $gray3;
  padding: .25rem .5rem;
  color: $gray4;
  width: 100%;
  &:focus {
    outline: none;
  }
}

.dropdown-menu {
  background-color: $gray3;
  color: $gray5;
  .dropdown-item {
    color: $gray5;
    &.active {
      background-color:$blue;
      color: $gray5;
    }
  }
}

/* Tabs */
.nav-tabs {
  border-bottom: 1px solid $gray3;
  padding: 0 2rem;
  .nav-link {
    color: $gray4;
    &:hover {
      border-color: transparent;
      color: #ccd;
    }
    &:focus {
      outline: none;
    }
    &.active {
      background-color: $blue;
      border-color:$blue;
      color: $gray5;
    }
  }
}

/* Diagram */
#diagram {
  display: grid;
  grid-template-rows: auto 1fr;
}

#diagram-tab-content {
  height: 100%;
  //border: 2px solid pink;
  div#component-diagram-content {
    height: 100%;
    //border: 2px solid purple;
  }
}

.diagram-content .diagram-wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100%;
}

.diagram {
  grid-column-start: 2;
  grid-column-end: 3;
  border-left: 1px solid $gray3;
  width: 100%;
  overflow: scroll;
}

.selection-details {
  grid-column: 1;
  width: 100%;
  min-width: 250px;
  margin: 0;
  word-break: break-all;
  padding: 1.5rem 2rem;
  h3 {
    font-size: 1.5rem;
    color: $appland-text;
  }
}

.appmap.appmap--theme-dark {
  background-color: transparent;
  overflow: hidden;
  //width: 100vw;
}

/* Left sidebar */
.detail-list {
  list-style-type: none;
  padding: 0;
  li {
    border-bottom: 1px solid $gray3;
    padding: .25rem 0;
    &:first-of-type {
      border-top: 1px solid $gray3;
    }
    h5 {
      margin-top: 2rem;
    }
  }
}