// Global
html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: transparent;
  color: $gray4;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

a {
  color: $blue;
  transition: $transition;
  &:hover {
    text-decoration: none;
    color: lighten($blue, 13);
  }
  &:focus {
    outline: none;
  }
}

#appland {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 25% 75%;
  row-gap: 2rem;
  column-gap: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.block-heading {
  background-color: $gray1;
  padding: 1rem;
  text-transform: uppercase;
  color: $appland-text;
  font-size: 1.1rem;

}

/* Filters */
#filter {
  padding: 0 0 1.5rem 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#filter-input {
  width: 96%;
  margin: 0 auto;
  margin-top: 1rem;
  input {
    background-color: transparent;
    border-radius: .5rem;
    border: 1px solid $gray3;
    padding: .25rem .5rem;
    color: $gray4;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}

.dropdown-menu {
  background-color: $gray3;
  color: $gray5;
  .dropdown-item {
    color: $gray5;
    &.active {
      background-color:$blue;
      color: $gray5;
    }
  }
}

/* Tabs */

.tabs-wrap {
  width: 100%;
  overflow: hidden;
}

.nav-tabs {
  border-bottom: 1px solid $gray3;
  padding: 0;
  .nav-item {
    width: 50%;
  }
  .nav-link {
    color: $gray4;
    border-radius: 0;
    text-transform: uppercase;
    color: $appland-text;
    &:hover {
      border-color: transparent;
      color: #ccd;
    }
    &:focus {
      outline: none;
    }
    &.active {
      background-color: $gray1;
      border: 0;
      color: $appland-text;
    }
  }
}

/* Diagram */
#diagram {
  display: grid;
  grid-template-rows: auto 1fr;
}

#diagram-tab-content {
  height: 100%;
  div#component-diagram-content {
    height: 100%;
  }
}

.diagram-content .diagram-wrapper {
  height: 100%;
  .diagram {
    height: 100%;
  }
}

.diagram {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  overflow: scroll;
}

.selection-details {
  grid-column: 1;
  margin: 0;
  word-break: break-all;
  padding: 0;
  // h3 {
  //   font-size: 1.2rem;
  //   text-transform: uppercase;
  //   margin-bottom: 1rem;
  // }
  .content {
    padding: 0;
    h4 {
      margin-bottom: 1rem;
      color: $white;
      padding: 0 1rem;
    }

    .content {
      padding: 0;
      h5 {
        padding: 0 1rem;
      }
      li {
        padding: .4rem 1rem;
        transition: $transition;
        &:hover {
          background-color: $blue;
          a { color: $white; }
        }
      }
    }
  }
}

.appmap.appmap--theme-dark {
  background-color: transparent;
  overflow: hidden;
}

/* Left sidebar */
.sidebar {
  border-right: 2px solid $gray3;
  overflow: auto;
}

.detail-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2.5rem;
  li {
    border-bottom: 1px solid $gray3;
    padding: .25rem 0;
    &:first-of-type {
      border-top: 1px solid $gray3;
    }
    h5 {
      margin-top: 2rem;
    }
  }
}